#m_footer{
    height: 200px;
    background: rgba(199, 199, 199, 0.5);
    background-image: url("../images/bg_pattern3.png");
    text-align: center;
    color: #444;
    font-size: .8em;
}

#m_footer_logo>img{
    width: 100px;
    margin: 50px auto 10px auto;
}

#m_footer_logo{
    margin: 0 auto;
}
#m_footer_text{
    text-align: center;
}

#m_footer_text a{
    color: #777;
}
.m_footer_1{
    display: inline-block;
    text-align: center;
}
address{
    font-style: normal;
    text-align: center;
}
#m_copy{
    color: #777;
    text-align: center;
    margin-top: 10px;
}
a:hover{
    color: #78aa42;
}

#d_footer{
    height: 200px;
    background: rgba(199, 199, 199, 0.5);
    background-image: url("../images/bg_pattern3.png");
    text-align: center;
    /* font-weight: bold; */
    color: #444;
    font-size: .8em;
}
#footer_flex{
    width: 80%;
    margin-left: 100px; 
}
#footer_logo>img{
    width: 100px;
    margin-top: 30px;
}
#footer_logo{
    margin-left: 50px;
    /* border: 1px solid red; */
    display: inline-block;
}
#footer_text{
    /* border: 1px solid red; */
    display: inline-block;
    margin-left: 30px; 
}
.footer_1{
    display: inline-block;
    margin-top: 70px;
    margin-right: 10px;
    /* border: 1px solid red; */
}
address{
    font-style: normal;
}
#copy{
    color: #777;
    margin-top: 20px;
}
a:hover{
    color: #78aa42;
}
@media screen and (min-width: 768px ){
    #m_footer_logo>img{
        width: 100px;
        margin: 50px auto 10px auto;
    }
    #m_footer{
        height: 220px;
    }
}